<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <title>Inspire Me</title>
    {{!-- jQuery --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    {{!-- Popper --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    {{!-- Bootstrap JS --}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {{!-- Bootstrap CSS --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    {{{ body }}}


    {{!-- App JS --}}
    {{!--
    <script type="text/javascript" src="/public/js/app.js"></script> --}}
    <script>

        // --------- QUOTES JS -------- ///
        // show quotes from DB function
        function displayQuotes(resultsArr) {
            var newQuote = $("<li>").addClass("quotes list-group-item");

            for (var i in resultsArr) {
                if (data.hasOwnProperty(key)) {
                    var quote = $("<h5>").text(resultsArr[i].quote);
                    var author = $("<p>").text(resultsArr[i].author);
                    newQuote.append(quote, author)
                }
                $("#quotes-list").append(newQuote);
            }
        }

        // this should be in app.js but I can't get the rel path
        $("#new-quotes-btn").on("click", function () {
            $.get("/scrape", function (resultsArr) {
                // console.log(data);
                displayQuotes(resultsArr);
            })
        });

        // --------- VIEW COMMENTS ----------- //
        function displayComments(data){
            $("#comments").text("");
            console.log("line 57: "+ data);
            for (var i=0; i<data.length; i++){
                $("#comments").append(i.body);
            }
        };
        // --------- VIEW COMMENTS EVENT LISTENER ------- //
        $(".comment-btn").on("click",function(data){
            displayComments(data);
        })

        // --------- SAVE COMMENTS JS --------- //
        $("#save-comment-btn").on("click", function (event) {
            event.preventDefault();
            var body = $("#comment").val().trim();
            var articleId = $(".comment-btn").attr("data-id");
            if (comment) {
                var commentObj = {
                    body: body,
                    articleId: articleId
                };
                console.log("body: " + body)
                console.log("articleId: " + articleId);
            }

            $.ajax("/api/comment", {
                type: "POST",
                data: commentObj
            }).then(function (data) {
                if (data){
                    console.log(commentObj);
                    location.reload();
                }
            })
        })


    </script>
</body>

</html>